---

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

const origin = new URL(Astro.request.url).origin;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="og:title" content="Best Astro Tweets" />
		<meta name="og:description" content="A curated list of the best tweets from @astrodotbuild" />
		<meta name="og:image" content={`${origin}/image-of-twitter.png`}>
	</head>
	<body class="bg-[rgb(15,23,42)] grid place-items-center min-h-screen v-screen p-8">
		<main class="flex flex-col item space-y-10">
			<h1 class="sm:text-5xl text-white text-3xl text-center">coming soon... 🤫</h1>
			<img src="./image-of-twitter.png" alt="Image of @astrodotbuild's twitter account" class="sm:w-96" />
		</main>
	</body>
</html>
